<style>
    .leftNav[data-v-379acd3e] {
        width: 360px;
        height: 40px;
        float: left;
        padding-left: 29px;
    }
    header .sel[data-v-379acd3e] {
        position: relative;
    }
    header .sel .mainLoc[data-v-379acd3e] {
        display: inline-block;
        width: 120px;
        height: 40px;
        position: relative;
        z-index: 200;
        line-height: 40px;
        font-size: 12px;
        color: #333;
        background: #fff;
        border: 1px solid rgba(0,0,0,0);
        border-bottom: 0;
        border-top: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
<header data-v-4c16f624 data-v-3e67e07a>
    <div class="headerInner clear" data-v-4c16f624>

        <div class="leftNav" data-v-379acd3e="">
            <div class="sel" data-v-379acd3e=""><a class="mainLoc" data-v-379acd3e="">
                <img src="STATIC/images/location.svg" alt=""
                    style="margin-left: 10px;margin-top: 10px;" data-v-379acd3e=""><span data-v-379acd3e="" class="">北京站</span><i
                    data-v-379acd3e="" class=""></i></a>
            </div>
        </div>


        <div class="rightNav" data-v-4c16f624><!----> <a href="/login?callback=%2F" data-v-4c16f624>
            登录
        </a> <a href="/register" data-v-4c16f624>
            注册
        </a> <a href="/login" data-v-4c16f624>
            我的订单
        </a> <a href="/login" data-v-4c16f624>
            个人中心
        </a> <a href="/staticPage?name=contact" target="_blank" data-v-4c16f624>
            <img src="STATIC/images/iphone.svg"
                                                                                     data-v-4c16f624>
            联系我们
        </a></div>
    </div>
</header>
<div class="tempBox container" style=" margin-top: 40px;" data-v-074c5ba4="" data-v-0392c138="">
    <div class="logoAreaInner" data-v-6aefcbd1>

        <a href="/" style="display: inline-grid;" class="router-link-exact-active router-link-active"
           data-v-074c5ba4="">
            <img src="STATIC/picture/logo.svg" alt="logo" class="logoImg" data-v-074c5ba4="">
        </a>
        <img src="STATIC/picture/solon_116.svg" alt="solonImg" class="solonImg" data-v-074c5ba4="">
        <!--    <a href="/" class="router-link-exact-active router-link-active" data-v-6aefcbd1>-->
        <!--        <img src="STATIC/picture/logo.svg" alt="logo" class="logoImg" data-v-6aefcbd1>-->
        <!--    </a>-->
        <!--    <img src="STATIC/picture/solon_116.svg" alt="solonImg" class="solonImg" data-v-6aefcbd1>-->
    </div>

    <nav data-v-179d4831>
        <div class="navInner" data-v-179d4831>
            <div class="navLi" data-v-179d4831>
                <li data-v-179d4831><a href="/" data-v-179d4831>首页</a></li>
                <li data-v-179d4831><a target="_blank" href="http://wwws.lvzheng.com/landpage/gsland.html"
                                       data-v-179d4831>公司注册</a></li>
                <li data-v-179d4831><a target="_blank" href="http://wwws.lvzheng.com/landpage/shangbiao.html"
                                       data-v-179d4831>商标查询</a></li>
                <li data-v-179d4831><a data-v-179d4831>急速办理</a></li>
                <li data-v-179d4831><a data-v-179d4831>疑难需求</a></li>
                <li data-v-179d4831><a data-v-179d4831>孵化器入驻</a></li>
                <li data-v-179d4831><a target="_blank" href="http://www.lvzheng.com/xiaoweishuo"
                                       data-v-179d4831>创业知识</a></li>
            </div>
            <div aria-haspopup="listbox" role="combobox" aria-owns="el-autocomplete-7066"
                 class="el-autocomplete inline-input" data-v-179d4831>
                <div class="el-input el-input--suffix"><!----><input type="text" autocomplete="off"
                                                                     valueKey="hotWord" placeholder="请输入内容"
                                                                     fetchSuggestions="function () { [native code] }"
                                                                     triggerOnFocus="true" debounce="300"
                                                                     placement="bottom-start"
                                                                     popperAppendToBody="true" value=""
                                                                     class="el-input__inner"><!----><span
                        class="el-input__suffix"><span class="el-input__suffix-inner"><i class="el-icon-search"
                                                                                         data-v-179d4831></i>
                    <!----></span><!----></span><!----></div>
                <div role="region" class="el-autocomplete-suggestion el-popper" style="width:;display:none;">
                    <div class="el-scrollbar">
                        <div class="el-autocomplete-suggestion__wrap el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
                            <ul class="el-scrollbar__view el-autocomplete-suggestion__list"></ul>
                        </div>
                        <div class="el-scrollbar__bar is-horizontal">
                            <div class="el-scrollbar__thumb"
                                 style="width:0;transform:translateX(0%);ms-transform:translateX(0%);webkit-transform:translateX(0%);"></div>
                        </div>
                        <div class="el-scrollbar__bar is-vertical">
                            <div class="el-scrollbar__thumb"
                                 style="height:0;transform:translateY(0%);ms-transform:translateY(0%);webkit-transform:translateY(0%);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
