<div class="col-md-3 sidebar hidden-xs hidden-sm">

    <aside class="sidebar-hot">
        <div class="widget-title">
            <h2>
                推荐新闻
            </h2>
        </div>
        <ul>

            {volist name="top_new" id="top_news"}
            <li>

                <a  target="blank" href="{:url('/article/'.$top_news['id'])}">{$top_news.title}</a>

            </li>
            {/volist}





        </ul>
    </aside>
    <aside class="s400">
        <div class="kf">
            <div class="kf-con">
                <img src="STATIC/picture/kf.png">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;本公司专业提供各类高精尖电子产品的逆向设计，PCB抄板，BOM清单制作，原理图反推设计，芯片解密，PCB加工生产，样机调试制作，成品代加工，一站式服务！

                </p>

            </div>
        </div>
        <h3>
            <a href="women.html"​>
                {$config.tell}
            </a>
            <span>
                                    全国服务热线
                                </span>
        </h3>
    </aside>
</div>