{extend name="template/base" /}
{block name="link"}
<!--<link rel="stylesheet" href="STATIC/layui/css/layui.css"  media="all">-->
<!--<link type="text/css" rel="stylesheet" href="STATIC/css/all.css">-->
<script src="STATIC/layui/layui.js" defer></script>
<style>
    a{    color: #86878a;}
    a:hover{
        color: #1972ea;
    }
    .active{color: #1972ea;}
    .txt[data-v-04426a66] {
        background: #fff;
        -webkit-box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1);
        box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1);
        padding: 50px;
    }
    .business[data-v-04426a66] {
        width: 1200px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .title[data-v-04426a66] {
        border-bottom: 1px solid #ddd;
        text-align: left;
        height: 110px;
    }
    .title span {
        display: block;
        font-size: 15px;
        font-weight: 700;
        color: #a6a7ab;
    }
    .title .sourceTime[data-v-04426a66] {
        font-size: 14px;
        color: #333;
        margin: 20px 0 25px;
    }
    .title .sourceTime[data-v-04426a66] {
        font-size: 14px;
        color: #333;
        margin: 20px 0 25px;
    }
    .title .sourceTime i[data-v-04426a66] {
        margin-left: 15px;
    }
    h1{height: 20px;font-size: 30px;}
    .title i {
        display: block;
        font-size: 15px;
        font-family: Akrobat;
        color: #a6a7ab;
        position: relative;
        top: -60px;
        left: 120px;
    }
</style>

{/block}
{block name="content"}
<div id="app" data-v-0392c138="">
    <div class="container" data-v-04426a66="" data-v-0392c138="">
        <div class="business" data-v-04426a66="">

    <div class="txt clear" data-v-04426a66="">
        <div class="title" data-v-04426a66="">
            <h1 data-v-04426a66="">工商登记续期截止日延长</h1>
            <div class="sourceTime" data-v-04426a66="">
                <span data-v-04426a66="">来源：小微律政</span>
                <i data-v-04426a66="">2019-08-01 18:26:15</i>
            </div>
        </div>
        <div class="mainTxt" data-v-04426a66="" style="margin: 20px;text-align: left">

        <p>　<span style="font-size: 13px; line-height: 1.5;">　阿尔及利亚官方通讯社《阿新社》7月28日发布题为《进口商：工商登记续期截止日期延长至10月15日》的报道，全文摘编如下：</span></p>
        <p><span style="font-size: 13px; line-height: 1.5;"><br></span></p>
        <p>　　根据政府公报(第43号)发布的政令，进口原材料、直接转销商品领域的进口商的工商登记续期期限延长至2019年10月15日。</p>
        <p><br></p>
        <p>　　该政令对2017年11月2日的政令进行了修订，该政令规定，进口原材料、直接转销商品领域的进口经营者工商登记的有效期为2年，可更新。</p>
        <p><br></p>
        <p> </p>
        <p>　　根据旧命令，有关经营商有六个月的时间来满足规定要求，但这一期限延长了多次。最后一次设定的最后期限是2019年4月15日。</p>
        <p><br></p>


        </div>
    </div>
        </div>
    </div>
</div>


{/block}
<!--<script src="VENDOR/vue.js"></script>-->
<!--<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>-->
<!--<link rel="stylesheet" href="VENDOR/element-ui/lib/theme-chalk/index.css">-->
<!--<script src="VENDOR/element-ui/lib/index.js"></script>-->
{block name="script"}

<script>



    new Vue({
        el:"#apps",
        data: {
            activeName: 'first'
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            }
        }
    })
    //
</script>
<script type="text/javascript">

</script>

{/block}
