{extend name="template/base" /}
{block name="content"}

<div class="container-fluid mini">
</div>
<section id="main">
    <div id="slider">
        <div class="sliders">
            <div class="item">
                <img src="STATIC/picture/111.jpg">
            </div>
        </div>
    </div>
    <nav class="crumbs">
        <div class="container">
            <div class="con">
                当前位置:
                <a href='/'>
                    主页
                </a>
                >
                <a href='javacript:;'>
                    {$info['title']}
                </a>

            </div>
        </div>
        <div class="container single-con">
            <div class="row">
                <div class="col-md-9 content">
                    <div class="single-con">
                        <div class="single-header">
                            <h1>
                                {$info.title}
                            </h1>
                            <div class="single-meta">
                                    <span class="time">
                                        时间：{$info.add_time|date="Y-m-d H:i:s",###}
                                    </span>
                                <span class="author">
                                        作者：{$info.author}
                                    </span>
                                <span class="bdsharebuttonbox bdshare-button-style1-24" data-bd-bind="1555946843498">
                                        <span class="fl">
                                            分享到：
                                        </span>
                                        <a href="#" &#8203;="" class="bds_weixin" data-cmd="weixin" title="分享到微信">
                                        </a>
                                        <a href="#" &#8203;="" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">
                                        </a>
                                        <a href="#" &#8203;="" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">
                                        </a>
                                        <a href="#" &#8203;="" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">
                                        </a>
                                        <a href="#" &#8203;="" class="bds_more" data-cmd="more">
                                        </a>
                                    </span>
                                <script>
                                    window._bd_share_config = {
                                        "common": {
                                            "bdSnsKey": {},
                                            "bdText": "",
                                            "bdMini": "2",
                                            "bdMiniList": false,
                                            "bdPic": "",
                                            "bdStyle": "1",
                                            "bdSize": "24"
                                        },
                                        "share": {}
                                    };
                                    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~ ( - new Date() / 36e5)];
                                </script>
                            </div>
                        </div>
                        <div class="single-content">
                            {$info.content}
                        </div>
                        <div class="single-info">
                            <div class="post-tags fl">
                            </div>
                            <div class="fr">
                                版权所有： 转载请注明出处
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                    .sidebar-hot li{line-height: 20px;!important;}
                </style>
                {include file="template/right"}
            </div>
        </div>
    </nav>
    <style>
        .newslist li {
            height: 45px;
            line-height: 45px;
            border-bottom: 1px dotted lightgray;
        }

        .newslist li span {
            float: right;
        }
    </style>
    <div class="single-con container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-9 content p-text">
                </div>
            </div>
        </div>
    </div>

</section>


{/block}