{extend name="template/base" /}
{block name="link"}
<!--<link rel="stylesheet" href="STATIC/layui/css/layui.css"  media="all">-->
<!--<link type="text/css" rel="stylesheet" href="STATIC/css/all.css">-->
<script src="STATIC/layui/layui.js" defer></script>
<style>
    a{    color: #86878a;}
    a:hover{
        color: #1972ea;
    }
    .active{color: #1972ea;}
</style>

{/block}
{block name="content"}
<div class="classifyList container" data-v-c912f7ee="" data-v-3e67e07a="">
    <div class="guide" id="guide" data-v-c912f7ee="">
        <div class="clear addresss left" data-v-452e9b93="" data-v-c912f7ee="">
                <span id="wholeClass" class="wholeClass" data-v-452e9b93=""> 全部分类
                    <img src="STATIC/images/down_14.svg" alt="" data-v-452e9b93="">
                </span>
            <div aria-label="Breadcrumb" role="navigation" replace="" class="el-breadcrumb bread" data-v-452e9b93="">
                <span class="el-breadcrumb__item" data-v-452e9b93="">
                    <span role="link"  class="el-breadcrumb__inner is-link">首页</span>
                    <i  class="el-breadcrumb__separator el-icon-arrow-right"></i></span>
                <span class="el-breadcrumb__item" data-v-452e9b93="">
                    <span role="link" class="el-breadcrumb__inner is-link">
                      {$pinfo['cate_name']}
                    </span>
                    <i class="el-breadcrumb__separator el-icon-arrow-right"></i></span> <!---->
                <span class="el-breadcrumb__item" data-v-452e9b93="" aria-current="page"><span
                    role="link" class="el-breadcrumb__inner"> {$current['cate_name']}</span><i
                    class="el-breadcrumb__separator el-icon-arrow-right"></i></span></div>


            <div id="leftBannerFrame" class="leftBannerFrame clear" data-v-452e9b93="">
                <div class="leftBanner leftBanner2" data-v-51af3139="" data-v-452e9b93="">
                    <ul class="leftUl leftUl2" data-v-51af3139="">
                        <li class="classfyOne" data-v-51af3139="">
                        </li>
                        {volist name="category_art" id="top_cate"}
                        <li class="classfyOne" data-v-51af3139="">
                            <span data-v-51af3139="">{$top_cate.cate_name}</span>
                            <i  data-v-51af3139="">{$top_cate.sort_name}</i>
                            <div class="showCase showCase2" data-v-51af3139="">
                                {volist name="$top_cate['son']" id="son_cate"}
                                <div class="showCaseList clear" data-v-51af3139="">
                                    <a href="{:url('/category/'.$son_cate['id'])}" style="line-height: 50px;" target="" class="txtline router-link-exact-active router-link-active" data-v-51af3139="">
                                        {$son_cate['cate_name']}
                                    </a>
                                    <div class="showCaseListDetail clear showCaseListDetail2" data-v-51af3139="">
                                        {volist name="$son_cate['article']" id="article"}
                                        <a href="{:url('/info/'.$article['id'])}" target="" data-v-51af3139="" style="display: contents;line-height: 35px">
                                            <i data-v-51af3139="">{$article.sort_title}</i>
                                        </a>
                                        {/volist}
                                    </div>
                                </div>
                                {/volist}
                            </div>
                        </li>
                        {/volist}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="el-card box-card is-always-shadow" data-v-c912f7ee=""><!---->
        <div class="el-card__body">
            <div class="classifyArea" data-v-c912f7ee="">
                <div data-v-c912f7ee="">
                    <span class="name" data-v-c912f7ee="">一级分类：</span>
                    <span data-v-c912f7ee=""  class="">
                         <a href="{:url('/category/0')}">全部</a>
                        </span>

                    {volist name="top_cates" id="topc"}
                    <span class="active"  data-v-c912f7ee="">
                        <a href="{:url('/category/'.$topc['id'])}">{$topc.cate_name}</a>
                    </span>
                    {/volist}

                </div>
                <div data-v-c912f7ee="">
                    <span class="name" data-v-c912f7ee="">二级分类：</span>
                    <span data-v-c912f7ee=""  class="">
                         <a href="{:url('/category/'.$pinfo['id'])}">全部</a>
                    </span>
                    {volist name="son_cates" id="sonc"}
                    <span class="active"  data-v-c912f7ee="">
                        <a href="{:url('/category/'.$sonc['id'])}">{$sonc.cate_name}</a>
                    </span>
                    {/volist}
                </div>
            </div>
            <div class="listResult" data-v-c912f7ee="">
                <div class="sortButton" data-v-c912f7ee=""><span class="borderBtn" data-v-c912f7ee="">最新商品
          <b class="icoImg" data-v-c912f7ee=""><i class="blue" data-v-c912f7ee=""></i>
              <i class="gray"  data-v-c912f7ee=""></i></b></span>
                    </div>
                <div class="goodsArea clear" data-v-c912f7ee="">


                    {volist name="articles" id="articless"}
                    <div data-v-c912f7ee="">
                        <a href="{:url('/info/'.$article['id'])}"  target="_blank" data-v-c912f7ee="">
                            <img  src="PUBLIC{$articless.thumb}" data-v-c912f7ee="">
                        <p data-v-c912f7ee="" style="  margin-top: 0px;  margin-bottom: 0px;  ">{$articless.sort_title}</p></a>
                        <div data-v-c912f7ee=""><span data-v-c912f7ee="">

              <i style="font-size:17px;" data-v-c912f7ee="">面议</i> <em data-v-c912f7ee="">&nbsp; </em></span>
                            <!----></div>
                    </div>
                    {/volist}

                </div>
                <div class="pageBox" data-v-c912f7ee="">
                    {$articles->render()}
                </div>
            </div>
        </div>
    </div>
    <style>
        .yl-class a{    display: block;}
        .box-card[data-v-227992bb] {
            width: 1200px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .yl-class .article .title[data-v-227992bb] {
            color: #333;
            font-size: 16px;
            line-height: 20px;
            margin: 20px 0;
            font-weight: 700;
            text-align: left;
             height: 25px;
        }
        .yl-class .article .desc[data-v-227992bb] {
            font-size: 14px;
            color: #666;
            line-height: 15px;
            height: 20px;
            margin-bottom: 24px;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
        .yl-class .article .title span[data-v-227992bb] {
            float: right;
            font-size: 14px;
            color: #666;
            font-weight: 400;
        }
        .yl-class .article[data-v-227992bb] {
            border-bottom: 1px solid #ddd;
        }
         .el-card__body {
            padding: 20px;
        }
    </style>
    <div class="el-card box-card yl-class is-always-shadow" data-v-227992bb="">
        <div class="el-card__header">
            <div data-v-227992bb="">小微资讯</div>
        </div>
        <div class="el-card__body">
            <div class="article" data-v-227992bb="">
                <a href="" target="_black" class="title" data-v-227992bb="">工商登记续期截止日延长
                    <span data-v-227992bb="">2019-08-01 18:26:15</span>
                </a>
                <a href="htt" target="_black" class="desc" data-v-227992bb="">阿《阿新社》7月28为《进口商：工商登记续期截止日期延长至10月15日》的报道，全文摘编如下：</a>
            </div>
            <div class="article" data-v-227992bb="">
                <a href="" target="_black" class="title" data-v-227992bb="">工商登记续期截止日延长
                    <span data-v-227992bb="">2019-08-01 18:26:15</span>
                </a>
                <a href="htt" target="_black" class="desc" data-v-227992bb="">阿《阿新社》7月28为《进口商：工商登记续期截止日期延长至10月15日》的报道，全文摘编如下：</a>
            </div>


            <div class="el-pagination" data-v-227992bb="">
                <button type="button" disabled="disabled" class="btn-prev">
                    <i class="el-icon el-icon-arrow-left"></i></button>
                <ul class="el-pager"><li class="number active">1</li>
                </ul>
                <button type="button" disabled="disabled" class="btn-next">
                    <i class="el-icon el-icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>


</div>


{/block}
<!--<script src="VENDOR/vue.js"></script>-->
<!--<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>-->
<!--<link rel="stylesheet" href="VENDOR/element-ui/lib/theme-chalk/index.css">-->
<!--<script src="VENDOR/element-ui/lib/index.js"></script>-->
{block name="script"}

<script>



    new Vue({
        el:"#apps",
        data: {
            activeName: 'first'
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            }
        }
    })
    //
</script>
<script type="text/javascript">

</script>

{/block}
