{extend name="template/base" /}
{block name="content"}

<div class="mainView" data-v-6aefcbd1>
    <div class="bannerArea clear" data-v-6aefcbd1>
        <div class="leftBanner" data-v-51af3139 data-v-6aefcbd1>
            <ul class="leftUl" data-v-51af3139>
                <li class="classfyOne" data-v-51af3139>
                </li>
                {volist name="category_art" id="top_cate"}
                <li class="classfyOne" data-v-51af3139>
                    <span data-v-51af3139>{$top_cate.cate_name}</span>
                    <i data-v-51af3139>{$top_cate.sort_name}</i>
                    <div class="showCase" data-v-51af3139>
                        {volist name="$top_cate['son']" id="son_cate"}
                        <div class="showCaseList clear" data-v-51af3139>
                            <a href="{:url('/category/'.$son_cate['id'])}" target="_blank" class="txtline"
                               data-v-51af3139>
                                {$son_cate['cate_name']}
                            </a>
                            <div class="showCaseListDetail  clear" data-v-51af3139>

                                {volist name="$son_cate['article']" id="article"}
                                <a href="{:url('/info/'.$article['id'])}" target="_blank" data-v-51af3139><i>
                                    {$article.sort_title}
                                </i></a>
                                {/volist}
                            </div>

                        </div>
                        {/volist}
                    </div>
                </li>
                {/volist}

            </ul>
        </div>


        <div class="rightBanner" data-v-6aefcbd1>
            <div id="scoll" class="scoll">
                <div class="box1" id="box1">
                    <ul id="list1" class="list">
                        {volist name='$banner_list' id="advert"}
                        <li class="li"><img src="PUBLIC{$advert.thumb}" alt=""></li>
                        {/volist}
                    </ul>
                </div>

            </div>
        </div>

    </div>


    <div class="productService" data-v-074c5ba4="">
        <div class="title" data-v-074c5ba4=""><span data-v-074c5ba4="">产品服务</span> <i data-v-074c5ba4="">Product</i>
        </div>
        <div class="el-tabs el-tabs--top" data-v-074c5ba4="">
            <div class="el-tabs__header is-top">
                <div class="el-tabs__nav-wrap is-top">
                    <div class="el-tabs__nav-scroll">
                        <div role="tablist" class="el-tabs__nav is-top" style="transform:translateX(-0px);">
                            <div class="el-tabs__active-bar is-top"
                                 style="width: 98px; transform: translateX(0px);"></div>
                            <div id="tab-1" aria-controls="pane-1" role="tab" aria-selected="true" tabindex="0"
                                 class="el-tabs__item is-top is-active">不同阶段
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="el-tabs__content">
                <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane" data-v-074c5ba4="">
                    <div class="listImgArea" data-v-074c5ba4=""><!----> <!---->
                        <div class="listImgBox clear" style="width:1200px;left:0px;" data-v-074c5ba4="">
                            <div class="listImg" data-v-074c5ba4=""><a
                                    href="http://cs.lvzheng.com/zhuce/430102_00e77b24f1800000.html" tag="a"
                                    target="_blank" data-v-074c5ba4=""><img
                                    src="https://images.lvzheng.com/852025cbe46be20872cfc8f7c82ab20f.jpeg" alt=""
                                    class="hotImg" data-v-074c5ba4=""> <span data-v-074c5ba4="">筹备设立</span>
                                <p data-v-074c5ba4="">内资有限公司注册</p>
                                <p data-v-074c5ba4="">80%创业者的选择</p></a> <!---->
                                <div class="btn clear" data-v-074c5ba4=""><a data-v-074c5ba4=""><i data-v-074c5ba4="">立即购买</i></a>
                                    <a target="_blank"
                                       href="http://ddt.zoosnet.net/LR/Chatpre.aspx?id=DDT27156089&amp;lng=cn"
                                       data-v-074c5ba4=""><i data-v-074c5ba4="">咨询</i></a></div>
                            </div>
                            <div class="listImg" data-v-074c5ba4=""><a
                                    href="http://cs.lvzheng.com/baoxian/430102_00bc7f04c0800000.html" tag="a"
                                    target="_blank" data-v-074c5ba4=""><img
                                    src="https://images.lvzheng.com/f7285aa1def616121c392fd66557b506.jpeg" alt=""
                                    class="hotImg" data-v-074c5ba4=""> <span data-v-074c5ba4="">公司初创</span>
                                <p data-v-074c5ba4="">企业社保开户</p>
                                <p data-v-074c5ba4="">专人办理，简单高效</p></a> <!---->
                                <div class="btn clear" data-v-074c5ba4=""><a data-v-074c5ba4=""><i data-v-074c5ba4="">立即购买</i></a>
                                    <a target="_blank"
                                       href="http://ddt.zoosnet.net/LR/Chatpre.aspx?id=DDT27156089&amp;lng=cn"
                                       data-v-074c5ba4=""><i data-v-074c5ba4="">咨询</i></a></div>
                            </div>
                            <div class="listImg" data-v-074c5ba4=""><a
                                    href="http://cs.lvzheng.com/biangeng/430102_00b9fe26ee000000.html" tag="a"
                                    target="_blank" data-v-074c5ba4=""><img
                                    src="https://images.lvzheng.com/83f4235401178a1ab0f880cbd407a5fd.jpeg" alt=""
                                    class="hotImg" data-v-074c5ba4=""> <span data-v-074c5ba4="">快速发展</span>
                                <p data-v-074c5ba4="">企业注册资本增加</p>
                                <p data-v-074c5ba4="">离成功更近了一步</p></a> <!---->
                                <div class="btn clear" data-v-074c5ba4=""><a data-v-074c5ba4=""><i data-v-074c5ba4="">立即购买</i></a>
                                    <a target="_blank"
                                       href="http://ddt.zoosnet.net/LR/Chatpre.aspx?id=DDT27156089&amp;lng=cn"
                                       data-v-074c5ba4=""><i data-v-074c5ba4="">咨询</i></a></div>
                            </div>
                            <div class="listImg" data-v-074c5ba4=""><a
                                    href="http://cs.lvzheng.com/zhuxiao/430102_00bb6ca9a3400000.html" tag="a"
                                    target="_blank" data-v-074c5ba4=""><img
                                    src="https://images.lvzheng.com/759a68dbdf769f9ac35589de2cda3e2d.jpeg" alt=""
                                    class="hotImg" data-v-074c5ba4=""> <span data-v-074c5ba4="">安全退出</span>
                                <p data-v-074c5ba4="">企业注销</p>
                                <p data-v-074c5ba4="">安全退出，避免信用风险</p></a> <!---->
                                <div class="btn clear" data-v-074c5ba4=""><a data-v-074c5ba4=""><i data-v-074c5ba4="">立即购买</i></a>
                                    <a target="_blank"
                                       href="http://ddt.zoosnet.net/LR/Chatpre.aspx?id=DDT27156089&amp;lng=cn"
                                       data-v-074c5ba4=""><i data-v-074c5ba4="">咨询</i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="storey" data-v-074c5ba4="">
        <div class="title" data-v-074c5ba4=""><span data-v-074c5ba4="">公司风采</span> <i data-v-074c5ba4="">Lvzheng</i>
            <!----></div>
        <div data-v-074c5ba4="">
            <div class="storeyCon clear" data-v-074c5ba4="">
                <div class="storeyConLeft" data-v-074c5ba4=""><a target="_blank" href="javascript:;"
                                                                 style="display:inline-block;width: 560px;height: 376px;"
                                                                 data-v-074c5ba4=""><img
                        src="https://images.lvzheng.com/49f94be96a3984fc1eab3b007a5bad1a.png" alt="" data-v-074c5ba4=""></a>
                    <p class="name" data-v-074c5ba4="">小微律政：用心服务让创业更简单</p>
                    <p class="dec" data-v-074c5ba4="">全方位一站式企业云服务，助您创业更简单</p></div>
                <div class="storeyConRight" data-v-074c5ba4="">
                    <div class="storeyConRightList" data-v-074c5ba4=""><a target="_blank" href="javascript:;"
                                                                          style="display:inline-block;width: 270px;height: 152px;"
                                                                          data-v-074c5ba4=""><img
                            src="https://images.lvzheng.com/7b851f3cbdfda728d8fa94ce073c1767.png" alt="专业团队 后顾无忧"
                            data-v-074c5ba4=""></a>
                        <p class="name" data-v-074c5ba4="">专业团队，后顾无忧</p>
                        <p class="dec" data-v-074c5ba4="">300+服务顾问，专业对口，经验丰富</p></div>
                    <div class="storeyConRightList" data-v-074c5ba4=""><a target="_blank" href="javascript:;"
                                                                          style="display:inline-block;width: 270px;height: 152px;"
                                                                          data-v-074c5ba4=""><img
                            src="https://images.lvzheng.com/5c08363283f8f098ff1ae793eed98eea.png" alt=""
                            data-v-074c5ba4=""></a>
                        <p class="name" data-v-074c5ba4="">极速响应，流程可控</p>
                        <p class="dec" data-v-074c5ba4="">标准化工作流，服务高效，全程可控</p></div>
                    <div class="storeyConRightList" data-v-074c5ba4=""><a target="_blank" href="javascript:;"
                                                                          style="display:inline-block;width: 270px;height: 152px;"
                                                                          data-v-074c5ba4=""><img
                            src="https://images.lvzheng.com/513d0aaca993fa728852b28e1300cd51.png" alt=""
                            data-v-074c5ba4=""></a>
                        <p class="name" data-v-074c5ba4="">以诚立业，以专执业</p>
                        <p class="dec" data-v-074c5ba4="">用诚信对待创业者，以专业要求小微人</p></div>
                    <div class="storeyConRightList" data-v-074c5ba4=""><a target="_blank" href="javascript:;"
                                                                          style="display:inline-block;width: 270px;height: 152px;"
                                                                          data-v-074c5ba4=""><img
                            src="https://images.lvzheng.com/7d490f7557b497d5d1a8cdc8b28adbde.png" alt=""
                            data-v-074c5ba4=""></a>
                        <p class="name" data-v-074c5ba4="">共同奋斗，相互成就</p>
                        <p class="dec" data-v-074c5ba4="">目标明确，积极上进，成就客户，成就自我</p></div>
                </div>
            </div> <!----></div>
    </div>


    <div class="newsArea" data-v-074c5ba4="">
        {volist name="xlist" id="xlists" }
        <section data-v-074c5ba4="">
            <div class="top" data-v-074c5ba4="">
                <img alt="" data-v-074c5ba4=""  src="STATIC/images//icon{$key+1}.svg">
                <p data-v-074c5ba4="">{$xlists.cate_name}</p></div>
            <div class="bottom" data-v-074c5ba4="">
                {volist name="$xlists['article']" id='zxart'}
                <div data-v-074c5ba4="">
                    <a target="_blank" href="{:url('/articleInfo/'.$zxart['id'])}" data-v-074c5ba4="">{$zxart.title}</a>
                </div>
                {/volist}

            </div>
            <div class="next" data-v-074c5ba4="">
                <a target="_blank" href="{:url('/categoryNews/'.$xlists['id'])}" data-v-074c5ba4="">
                    <img src="STATIC/images/nexta.png" alt="" data-v-074c5ba4="">
                </a>
            </div>
        </section>
        {/volist}
    </div>

</div>

{/block}
{block name="script"}
<script type="text/javascript" src="./STATIC/js/swiperdemo.js"></script>
<script type="text/javascript">
    window.onload = function () {
        $("#box1").swiper({ratio: 8 / 5, time: 4000, stop: true, direction: "left"});
        $("#box").swiper({time: 2000, base: false, ratio: 290 / 163});
    };
</script>
{/block}
