{extend name="template/base" /}
{block name="content"}
<div id="app" data-v-3e67e07a="">
    <div class="classifyList container" data-v-c912f7ee="" data-v-3e67e07a="">
        <div class="detailViewInner" data-v-280731ba="">
            <div class="guide clear" data-v-280731ba="">
                <div class="clear addresss left" data-v-452e9b93="" data-v-280731ba="">
                    <span id="wholeClass" class="wholeClass" data-v-452e9b93="">
                    全部分类
                        <img src="STATIC/images//down_14.svg?021f4dd7cdbf3ddebcd569653c210b61" alt="" data-v-452e9b93=""></span>
                    <div aria-label="Breadcrumb" role="navigation" replace="" class="el-breadcrumb bread"
                         data-v-452e9b93=""><span class="el-breadcrumb__item" data-v-452e9b93="">
                        <span role="link"  class="el-breadcrumb__inner is-link">首页</span>
                        <i class="el-breadcrumb__separator el-icon-arrow-right"></i></span> <!---->
                        <span class="el-breadcrumb__item" data-v-452e9b93="" aria-current="page">
                            <span role="link" class="el-breadcrumb__inner">{$info.title}</span><i
                            class="el-breadcrumb__separator el-icon-arrow-right"></i></span> <!----></div>
                    <div class="leftBannerFrame" id="leftBannerFrame clear" data-v-452e9b93="">
                    <div class="leftBanner leftBanner2" data-v-51af3139="" data-v-452e9b93="">
                        <ul class="leftUl leftUl2" data-v-51af3139="">
                            <li class="classfyOne" data-v-51af3139="">
                            </li>
                            {volist name="category_art" id="top_cate"}
                            <li class="classfyOne" data-v-51af3139="">
                                <span data-v-51af3139="">{$top_cate.cate_name}</span>
                                <i  data-v-51af3139="">{$top_cate.sort_name}</i>
                                <div class="showCase showCase2" data-v-51af3139="">
                                    {volist name="$top_cate['son']" id="son_cate"}
                                    <div class="showCaseList clear" data-v-51af3139="">
                                        <a href="{:url('/category/'.$son_cate['id'])}" style="line-height: 50px;" target="" class="txtline router-link-exact-active router-link-active" data-v-51af3139="">
                                            {$son_cate['cate_name']}
                                        </a>
                                        <div class="showCaseListDetail clear showCaseListDetail2" data-v-51af3139="">
                                            {volist name="$son_cate['article']" id="article"}
                                            <a href="{:url('/info/'.$article['id'])}" target="" data-v-51af3139="" style="display: contents">
                                                <i data-v-51af3139="">{$article.sort_title}</i>
                                            </a>
                                            {/volist}
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="goods clear" data-v-280731ba="">
            <div class="bigImg clear" data-v-280731ba=""><img
                    src="PUBLIC{$info.thumb}"
                    alt="{$info.title}" data-v-280731ba="">
            </div>
            <div class="goodsRight" data-v-280731ba="">
                <div class="goodsName" data-v-280731ba=""><h4 data-v-280731ba=""><i data-v-280731ba="">自营</i> <span
                        data-v-280731ba="">{$info.title}</span></h4>
                    <p data-v-280731ba=""><span style="font-size:14px;" data-v-280731ba="">{$config['web_name']}，让创业更简单！</span></p>
                </div>
                <div class="goodsSKU" data-v-280731ba="">
                    <div class="rowDiv" data-v-280731ba=""><span data-v-280731ba="">售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价</span>
                        <span class="price" data-v-280731ba="">请电话联系{$config['contact_mobile']}</span></div>

                </div>
            </div>
        </div>

    </div>
</div>

</div>

{/block}
{block name="script"}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    $("#wholeClass").mouseover(function () {
        $(".wholeClass").addClass('allHover');
        $(".leftBannerFrame").addClass('isleftBanner');
    });
    var target ='';
    $(document).bind('mouseover', function (e) {
        target = $(e.target);

        if(target.closest(".leftBannerFrame").length == 0 && target.closest(".wholeClass").length == 0)
        {
            $(".leftBannerFrame").removeClass('isleftBanner');
        }
    })

</script>
{/block}