.logoArea, nav {
    background: #fff
}

.navInner {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding: 0 0 0 30px;
    overflow: hidden
}

.navInner img {
    float: left;
    margin-right: 10px
}

.navInner a {
    display: inline-block;
    font-size: 16px;
    height: 76px;
    line-height: 105px;
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333
}

.navInner .navActive, .navInner li a:hover {
    color: #1972ea;
    border-bottom: 4px solid #1972ea
}

.navInner .el-autocomplete {
    float: right;
    line-height: 100px
}

.navInner .el-input {
    width: 300px;
    height: 40px
}

.navInner .el-input__inner {
    padding-left: 20px;
    color: #999;
    font-size: 16px
}

.navInner .el-icon-search:before {
    position: relative;
    top: 1px;
    right: 5px;
    color: #1972ea;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer
}

.navLi {
    float: left;
    width: 810px;
    overflow: hidden
}

.navLi li {
    float: left;
    margin-right: 60px
}

.navLi li:last-of-type, .navLi li:nth-child(7n) {
    margin-right: 0
}

.navLiImg .logoIcon {
    margin-right: 50px
}

.navLiImg li {
    margin-right: 30px
}

a {
    line-height: 80px
}

nav {
    -webkit-box-shadow: 0 9px 8px 0 rgba(15, 61, 124, .2);
    box-shadow: 0 9px 8px 0 rgba(15, 61, 124, .2)
}

.navBoxShaow {
    -webkit-box-shadow: 0 2px 8px 0 rgba(15, 61, 124, .2);
    box-shadow: 0 2px 8px 0 rgba(15, 61, 124, .2)
}

.blueBtn {
    position: absolute;
    top: 0;
    right: 65px;
    color: #999;
    z-index: 2;
    cursor: pointer
}

.blue {
    color: #1972ea
}

.city span {
    color: #1972ea;
    font-size: 16px;
    font-weight: 700;
    line-height: 80px;
    float: left
}

.leftBanner[data-v-51af3139] {
    float: left;
    width: 290px;
    position: relative
}

.leftBanner2[data-v-51af3139] {
    width: 247px;
    border-right: 1px solid #ddd
}

.leftUl[data-v-51af3139] {
    padding: 19px 0 20px;
    height: 480px;
    background: #333;
    overflow: hidden
}

.leftUl li.classfyOne[data-v-51af3139]:hover {
    background: #fff;
    color: #333
}

.leftUl2[data-v-51af3139] {
    background: #fff
}

.leftUl2 .classfyOne[data-v-51af3139] {
    color: #333
}

.leftUl2 .classfyOne[data-v-51af3139]:nth-child(9n) {
    margin-bottom: 20px
}

.leftUl2 li.classfyOne[data-v-51af3139]:hover {
    background: #1972ea;
    color: #fff
}

.classfyOne[data-v-51af3139] {
    font-size: 16px;
    color: #fff;
    line-height: 48px;
    padding-left: 29px
}

.classfyOne span[data-v-51af3139] {
    float: left
}

.classfyOne i[data-v-51af3139] {
    font-size: 14px
}

.classfyOne .threeClassVis[data-v-51af3139] {
    display: block
}

.classfyOne i[data-v-51af3139] {
    margin-left: 19px;
    margin-right: 40px
}

.classfyOne[data-v-51af3139]:hover {
    background: #fff
}

.classfyOne:hover .showCase[data-v-51af3139] {
    display: block
}

.classfyOne[data-v-51af3139]:nth-child(9n) {
    margin-bottom: 20px
}

.showCase[data-v-51af3139] {
    display: none;
    padding: 40px 0;
    background: #fff;
    width: 910px;
    height: 480px;
    position: absolute;
    left: 290px;
    top: 0;
    z-index: 3;
    font-size: 16px;
    color: #333;
    -webkit-box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1);
    box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1)
}

.showCase span[data-v-51af3139] {
    display: inline-block;
    float: left;
    width: 140px;
    text-align: center;
    height: 22px;
    line-height: 22px
}

.showCaseList[data-v-51af3139] {
    margin-bottom: 30px
}

.showCaseList > a[data-v-51af3139] {
    display: inline-block;
    float: left;
    width: 140px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    color: #333;
    cursor: auto
}

.showCaseList > a.txtline[data-v-51af3139] {
    text-decoration: underline;
    cursor: pointer
}

.showCaseListDetail[data-v-51af3139] {
    width: 770px;
    float: left
}

.showCaseListDetail a[data-v-51af3139] {
    margin: 0 0 27px;
    float: left;
    height: 20px;
    line-height: 20px
}

.showCaseListDetail a i[data-v-51af3139] {
    font-size: 14px;
    color: #333
}

.showCaseListDetail a i[data-v-51af3139]:hover {
    color: #1972ea
}

.showCaseListDetail a[data-v-51af3139]:nth-child(6n) {
    margin-right: 0
}

.showCase2[data-v-51af3139] {
    width: 892px;
    left: 247px
}

.showCaseListDetail2[data-v-51af3139] {
    width: 749px
}

.leftBannerVis[data-v-51af3139] {
    display: none
}

.addresss[data-v-452e9b93] {
    height: 50px
}

.wholeClass[data-v-452e9b93] {
    font-size: 14px;
    width: 94px;
    height: 24px;
    line-height: 24px;
    color: #666;
    text-align: center;
    padding-right: 16px;
    border: 1px solid #ddd;
    margin: 13px 30px 0;
    float: left;
    position: relative;
    z-index: 11;
    background: #fff;
    cursor: pointer
}

.wholeClass img[data-v-452e9b93] {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    position: relative;
    left: 20px
}

.allHover[data-v-452e9b93] {
    color: #1972ea;
    -webkit-box-shadow: 0 -4px 8px 2px rgba(15, 61, 124, .1);
    box-shadow: 0 -4px 8px 2px rgba(15, 61, 124, .1);
    border: 1px solid #fff
}

.bread[data-v-452e9b93] {
    float: left;
    margin-top: 19px
}

.left[data-v-452e9b93] {
    float: left;
    position: relative
}

.leftBannerFrame[data-v-452e9b93] {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 2;
    -webkit-box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1);
    box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1);
    z-index: 10;
    display: none
}

.isLeftBanner[data-v-452e9b93] {
    display: block
}

.el-breadcrumb__item[data-v-452e9b93] .el-breadcrumb__inner.is-link {
    font-weight: 400
}

.guide[data-v-1757df10] {
    width: 1200px;
    height: 50px;
    margin: 0 auto
}

.guide .contactWay[data-v-1757df10] {
    float: right;
    width: 300px;
    height: 50px;
    line-height: 50px
}

.guide .contactWay span[data-v-1757df10] {
    font-size: 14px;
    color: #666
}

.guide .contactWay span img[data-v-1757df10] {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 30px
}

.guide .contactWay span i[data-v-1757df10] {
    margin-left: 10px;
    font-size: 14px
}

.content[data-v-1757df10] {
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 2px 8px 0 rgba(15, 61, 124, .2);
    box-shadow: 0 2px 8px 0 rgba(15, 61, 124, .2)
}

.classifyArea > div[data-v-1757df10] {
    border-bottom: 1px solid #ddd;
    height: 60px;
    line-height: 60px;
    font-size: 14px
}

.classifyArea > div strong[data-v-1757df10] {
    color: #999
}

.classifyArea > div span[data-v-1757df10] {
    color: #666;
    margin-right: 28px;
    cursor: pointer
}

.classifyArea > div .active[data-v-1757df10] {
    color: #1972ea;
    font-weight: 700
}

.sortButton span[data-v-1757df10] {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #666;
    width: 100px;
    height: 32px;
    text-indent: 16px;
    line-height: 32px;
    cursor: pointer;
    margin: 20px 0
}

.sortButton span strong[data-v-1757df10] {
    position: absolute;
    width: 10px;
    height: 32px;
    display: inline-block;
    right: 13px;
    bottom: 0
}

.sortButton span[data-v-1757df10]:first-child {
    text-indent: 0;
    text-align: center
}

.sortButton .borderBtn[data-v-1757df10] {
    border: 1px solid #1972ea;
    border-radius: 16px;
    color: #1972ea
}

.sortButton strong i[data-v-1757df10] {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0)
}

.sortButton strong i[data-v-1757df10]:first-child {
    left: 0;
    top: 5px;
    border-top: 5px solid rgba(0, 0, 0, 0)
}

.sortButton strong i[data-v-1757df10]:last-child {
    left: 0;
    bottom: 5px;
    border-bottom: 5px solid rgba(0, 0, 0, 0)
}

.sortButton strong i:first-child.blue[data-v-1757df10] {
    border-bottom: 5px solid #1972ea
}

.sortButton strong i:first-child.gray[data-v-1757df10] {
    border-bottom: 5px solid #aaa
}

.sortButton strong i:last-child.blue[data-v-1757df10] {
    border-top: 5px solid #1972ea
}

.sortButton strong i:last-child.gray[data-v-1757df10] {
    border-top: 5px solid #aaa
}

.goodsArea > div[data-v-1757df10] {
    float: left;
    height: 355px;
    margin: 0 24px 36px 0
}

.goodsArea > div a[data-v-1757df10] {
    display: block;
    width: 264px
}

.goodsArea > div a p[data-v-1757df10] {
    width: 266px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #333;
    margin-top: 19px;
    margin-bottom: 13px
}

.goodsArea > div img[data-v-1757df10] {
    width: 264px;
    height: 264px
}

.goodsArea > div > div[data-v-1757df10] {
    color: #eb3232
}

.goodsArea > div > div i[data-v-1757df10] {
    font-family: Akrobat;
    line-height: 22px;
    display: inline-block
}

.goodsArea > div > div em[data-v-1757df10] {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    position: relative;
    top: -1px
}

.goodsArea > div > div .vip[data-v-1757df10] {
    color: #caac76
}

.goodsArea > div > div .vip img[data-v-1757df10] {
    width: 48px;
    height: 24px;
    margin-left: 24px;
    position: relative;
    top: -2px
}

.goodsArea div[data-v-1757df10]:nth-child(4n) {
    margin-right: 0
}

.pageBox[data-v-1757df10] {
    text-align: right;
    padding-bottom: 24px;
    margin-top: 52px
}

.pageBox[data-v-1757df10] .el-pager li {
    min-width: auto;
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin: 0 5px
}

.pageBox[data-v-1757df10] .el-pager li.active, .pageBox[data-v-1757df10] .el-pager li:hover {
    background: #1972ea;
    color: #fff
}

.pageBox[data-v-1757df10] .el-icon-arrow-left:before {
    font-size: 14px
}

.pageBox[data-v-1757df10] .el-icon-arrow-right:before {
    color: #333;
    font-size: 14px
}

.erImg[data-v-1757df10] {
    position: relative
}

.erImg > img[data-v-1757df10] {
    width: 200px;
    position: absolute;
    top: 22px;
    left: -54px
}

.noData[data-v-1757df10] {
    text-align: center;
    color: #666
}