@charset "UTF-8";

html body .container header {
    text-align: center;
    background-color: #32c1d4;
    color: #fff;
    padding: .8rem 0;
    margin: 0
}

html body .container header h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    text-shadow: -1px -1px 3px #000, 1px 1px 3px #fff;
    font-family: cursive
}

html body .container header .subTitle {
    font-size: .8rem;
    color: #fff;
    line-height: 1.5
}

html body .container .box {
    height: 80%
}

html body .container .box .kinerItem .eventPanel {
    width: 80%;
    min-height: 4rem;
    padding: .8rem;
    color: #666;
    background-color: #fff;
    border-radius: 5px;
    line-height: 1.5;
    margin: 2rem auto
}

html body .container .box .kinerItem .desc {
    font-size: 1.5rem;
    color: #333;
    margin-top: 2rem;
    text-align: center;
    font-weight: bolder;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

html body .container .box .kinerItem .btn {
    width: 80%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #32c1d4;
    margin: 2rem auto;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    font-size: .8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

html body .container .box .kinerItem .btn.blue {
    background-color: #32c1d4;
    color: #fff
}

html body .container .box .kinerItem .btn.gray {
    color: #32c1d4;
    border: 1px solid #333
}

html body .container .box .kinerItem .btn:active {
    opacity: .72
}

@charset "UTF-8";
.swiper-slide, .swiper-wrapper {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    width: 100%
}

.swiper-pagination, .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0)
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-slide, .swiper-wrapper {
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-fles-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url(../fonts/48ec5bf811ae4cf7a71f128deae715c4.woff);
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url(../fonts/d1e3166f909b4877987648439f5d1509.woff)
}

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url(../fonts/a3bef45d4d1940ddab57d6442728d1fd.woff)
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(../fonts/3ba3df2b21ab4ac4ba5d029c7f7eac26.woff);
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url(../fonts/a73f8eda5c60473c873330fa6f940573.woff)
}

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url(../fonts/ad2b617fddae48e2be633cfce749ed32.woff)
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}




.kinerNav {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background-color: #fff;
    display: table;
    padding: 0;
    position: relative
}

.kinerNav .realBorder {
    display: block;
    width: 0;
    height: .2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #32c1d4;
    width: 100px!important;
}

.kinerNav > li {
    display: table-cell;
    text-align: center;
    font-size: .8rem;
    font-weight: bolder;
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -ms-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    width: 100px;!important;
}

.kinerNav > li.active {
    color: #32c1d4;
    width: 100px;!important;

}

.kinerContent {
    display: block;
    height: 100%
}

.kinerContent .wrapper {
    height: 100%
}