.copyRight {
    text-align: center;
    font-size: 12px;
    color: #fff;
    position: fixed;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.login {
    width: 100vw;
    height: 100vh;
    background: url(../images/bg.jpg) no-repeat 50%;
    background-size: cover
}

.loginInner {
    width: 360px;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1);
    box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1)
}

.logo {
    width: 140px;
    height: 48px;
    margin: 30px auto
}

.loginInner button {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    background: #1972ea;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    outline: none
}

.bottomaRear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 30px
}

.bottomaRear a {
    font-size: 14px;
    color: #999
}

.blueBtn {
    position: absolute;
    right: 45px;
    color: #999;
    cursor: pointer
}

.blue {
    color: #1972ea
}

.contextBox[data-v-718c7ce2] .el-dialog__body {
    padding: 30px 0
}

.contextBox[data-v-718c7ce2] .el-dialog__header {
    padding: 0
}

.contextBox[data-v-718c7ce2] .el-dialog {
    width: 680px;
    margin-top: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.context[data-v-718c7ce2] {
    height: 400px;
    padding: 5px 30px 15px;
    overflow: hidden;
    overflow-y: auto
}

.context p.title[data-v-718c7ce2] {
    font-size: 14px;
    color: #323232;
    font-weight: 700;
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 0 0 20px
}

.context p.name[data-v-718c7ce2] {
    font-size: 12px;
    color: #666;
    height: 20px;
    line-height: 20px;
    padding: 13px 0
}

.context p.text[data-v-718c7ce2] {
    font-size: 12px;
    color: #666;
    min-height: 22px;
    line-height: 22px;
    overflow: hidden
}

.sign[data-v-718c7ce2] {
    width: 300px;
    height: 25px;
    color: #999;
    font-size: 12px;
    margin-bottom: 10px
}

.sign a[data-v-718c7ce2] {
    color: #1972ea
}

.copyRight[data-v-718c7ce2] {
    text-align: center;
    font-size: 12px;
    color: #fff;
    position: fixed;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.login[data-v-718c7ce2] {
    width: 100vw;
    height: 100vh;
    background: url(../images/bg.jpg) no-repeat 50%;
    background-size: cover
}

.loginInner[data-v-718c7ce2] {
    width: 360px;
    padding-bottom: 15px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(15, 61, 124, .2);
    box-shadow: 0 2px 8px 0 rgba(15, 61, 124, .2)
}

.logo[data-v-718c7ce2] {
    width: 140px;
    height: 48px;
    margin: 30px auto
}

.loginInner button[data-v-718c7ce2] {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    background: #1972ea;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none
}

.bottomaRear[data-v-718c7ce2] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 30px
}

.bottomaRear a[data-v-718c7ce2] {
    font-size: 14px;
    color: #999
}

.passRule[data-v-718c7ce2] {
    display: block;
    position: absolute;
    left: 46px;
    top: 35px;
    z-index: 2;
    font-size: 12px;
    color: #999
}

.blueBtn[data-v-718c7ce2] {
    position: absolute;
    right: 45px;
    color: #999;
    cursor: pointer
}

.blue[data-v-718c7ce2] {
    color: #1972ea
}

.copyRight[data-v-799a068e] {
    text-align: center;
    font-size: 12px;
    color: #fff;
    position: fixed;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.login[data-v-799a068e] {
    width: 100vw;
    height: 100vh;
    background: url(../images/bg.jpg) no-repeat 50%;
    background-size: cover
}

.loginInner[data-v-799a068e] {
    width: 360px;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1);
    box-shadow: 0 0 8px 2px rgba(15, 61, 124, .1)
}

.logo[data-v-799a068e] {
    width: 140px;
    height: 48px;
    margin: 30px auto
}

.loginInner button[data-v-799a068e] {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    background: #1972ea;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none
}

.bottomaRear[data-v-799a068e] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 30px
}

.bottomaRear a[data-v-799a068e] {
    font-size: 14px;
    color: #999
}

.passRule[data-v-799a068e] {
    display: block;
    position: absolute;
    left: 46px;
    top: 35px;
    z-index: 2;
    font-size: 12px;
    color: #999
}

.blueBtn[data-v-799a068e] {
    position: absolute;
    right: 45px;
    color: #999;
    cursor: pointer
}

.blue[data-v-799a068e] {
    color: #1972ea
}