.mNav {
    position: relative;
    background: #f4faff
}

.mNav .mainDiv > div, .mNav .mainDiv > h2, .mNav .mainDiv > img {
    z-index: 2;
    position: relative
}

.mNav .imgbak {
    background: #0f1a35 url(../images/banner.png) no-repeat 50%;
    height: 470px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1
}

.mNavInner {
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
    z-index: 4;
    position: relative
}

.mNavInner .left {
    float: left
}

.mNavInner .left img {
    float: left;
    width: 140px;
    height: 60px;
    margin-right: 32px;
    margin-top: 10px;
    vertical-align: middle
}

.mNavInner .left span {
    float: left;
    color: #caac76;
    font-size: 16px;
    margin-right: 40px
}

.mNavInner .left .el-select {
    float: left;
    width: 100px;
    font-size: 16px
}

.mNavInner .left .el-input__inner {
    color: #caac76;
    background: none;
    border: none
}

.mNavInner .left .el-input__suffix {
    right: 20px
}

.mNavInner .left .el-icon-arrow-up:before {
    width: 10px;
    height: 10px;
    content: url(/assets/static/img/title_down.png?37a5dde3cc262ec2edd66018d3712775)
}

.mNavInner .left .el-select .el-input .el-select__caret {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

.mNavInner .left .el-select .el-input .el-select__caret.is-reverse {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.mNavInner .left .el-select-dropdown {
    border: none
}

.mNavInner .left .el-popper[x-placement^=bottom] {
    background: #caac76;
    top: 42px !important
}

.mNavInner .left .el-select-dropdown__item {
    color: #24232c
}

.mNavInner .left .el-popper[x-placement^=bottom] .popper__arrow, .mNavInner .left .el-popper[x-placement^=bottom] .popper__arrow:after {
    display: none
}

.mNavInner .left .el-select-dropdown__item {
    height: 30px;
    line-height: 30px
}

.mNavInner .left .el-select-dropdown__item.selected {
    font-weight: 400
}

.mNavInner .left .el-select-dropdown__item:hover {
    background: #caac76
}

.mNavInner .left .el-select-dropdown__item.hover {
    background-color: #24232c
}

.mNavInner .left .el-select-dropdown__item.hover span {
    color: #caac76
}

.mNavInner .right {
    float: right
}

.mNavInner .right a {
    display: inline-block;
    width: 64px;
    font-size: 16px;
    color: #caac76;
    position: relative
}

.mNavInner .right a:first-of-type {
    margin-right: 60px
}

.mNavInner .right a.active {
    font-weight: 700
}

.mNavInner .right a.active:after {
    content: "";
    display: inline-block;
    width: 36px;
    height: 4px;
    background: #caac76;
    position: absolute;
    top: 54px;
    left: 14px;
    border-radius: 2px
}

.fixFoot {
    width: 100%;
    background: #24232c;
    height: 120px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2
}

.fixFoot .footInner {
    width: 1200px;
    margin: 0 auto;
    padding-top: 16px
}

.fixFoot .footInner a {
    display: inline-block;
    width: 590px;
    height: 88px;
    text-align: center;
    line-height: 88px;
    border-radius: 4px;
    font-size: 32px;
    font-weight: 700
}

.fixFoot .footInner a:first-child {
    color: #caac76;
    border: 1px solid #caac76
}

.fixFoot .footInner a:last-child {
    background: #caac76;
    color: #24232c;
    margin-left: 10px
}

.fixFoot .goBuy {
    position: relative
}

.fixFoot .goBuy i {
    font-family: Akrobat;
    padding-right: 10px
}

.fixFoot .goBuy b {
    font-size: 28px;
    padding-right: 5px
}

.fixFoot .goBuy img {
    position: absolute;
    left: 0
}

.bannerInner[data-v-7f50c2e4] {
    width: 1200px;
    margin: 0 auto
}

.bannerInner .center[data-v-7f50c2e4] {
    color: #caac76;
    padding-top: 45px;
    padding-bottom: 68px
}

.bannerInner .center span[data-v-7f50c2e4] {
    display: block;
    text-align: center
}

.bannerInner .center span[data-v-7f50c2e4]:first-child {
    font-size: 24px;
    line-height: 24px
}

.bannerInner .center span[data-v-7f50c2e4]:nth-child(2) {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    margin: 10px 0 28px
}

.bannerInner .center span[data-v-7f50c2e4]:last-child {
    font-size: 16px;
    line-height: 21px
}

.bannerInner .center img[data-v-7f50c2e4] {
    padding-left: 6px;
    cursor: pointer
}

.bannerInner .center.login[data-v-7f50c2e4] {
    padding-top: 25px;
    padding-bottom: 0
}

.bannerInner .center.login span[data-v-7f50c2e4]:first-child {
    font-size: 35px;
    line-height: 50px
}

.bannerInner .center.login span[data-v-7f50c2e4]:nth-child(2) {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 15px 0 25px;
    font-family: Akrobat
}

.bannerInner > img[data-v-7f50c2e4] {
    -webkit-box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .1);
    box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .1);
    width: 1200px
}

.card[data-v-7f50c2e4] {
    position: relative;
    height: 220px
}

.card > div[data-v-7f50c2e4] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.card > div[data-v-7f50c2e4]:first-of-type {
    z-index: 2
}

.card.cardTwo > div[data-v-7f50c2e4]:first-of-type, .card > div:first-of-type + div[data-v-7f50c2e4] {
    -webkit-transform: translateX(248px) scale(.83);
    -ms-transform: translateX(248px) scale(.83);
    transform: translateX(248px) scale(.83)
}

.card.cardTwo > div[data-v-7f50c2e4]:first-of-type {
    z-index: 1
}

.card.cardTwo > div:first-of-type + div[data-v-7f50c2e4] {
    z-index: 2;
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
}

.card.cardTwo > div[data-v-7f50c2e4]:first-of-type:after {
    content: "\5FAE\84DD";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 220px;
    width: 200px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left bottom, left top, from(#070c21), to(#4180d4));
    background: -webkit-linear-gradient(bottom, #070c21, #4180d4);
    background: -o-linear-gradient(bottom, #070c21, #4180d4);
    background: linear-gradient(0deg, #070c21, #4180d4);
    font-size: 24px;
    line-height: 215px;
    padding-left: 54px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.card.cardTwo > div[data-v-7f50c2e4]:first-of-type:before {
    content: "\4F1A\5458";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    font-size: 16px;
    line-height: 220px;
    margin-right: 50px
}

.card.cardTwo > div[data-v-7f50c2e4]:nth-of-type(2):after, .card.cardTwo > div[data-v-7f50c2e4]:nth-of-type(2):before {
    content: none
}

.cardList[data-v-7f50c2e4] {
    width: 1040px;
    padding-left: 36px;
    border-radius: 10px;
    height: 220px;
    position: relative;
    color: #caac76
}

.cardList[data-v-7f50c2e4]:first-of-type {
    background: url(../images/card_vip_0.png) no-repeat 50%
}

.cardList[data-v-7f50c2e4]:nth-of-type(2) {
    background: url(../images/card_vip_1.png) no-repeat 50%
}

.cardList[data-v-7f50c2e4]:nth-of-type(2):after {
    content: "\6DF1\84DD";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 220px;
    width: 200px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left bottom, left top, from(#070c21), to(#1a2f56));
    background: -webkit-linear-gradient(bottom, #070c21, #1a2f56);
    background: -o-linear-gradient(bottom, #070c21, #1a2f56);
    background: linear-gradient(0deg, #070c21, #1a2f56);
    font-size: 24px;
    line-height: 215px;
    padding-left: 54px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.cardList[data-v-7f50c2e4]:nth-of-type(2):before {
    content: "\4F1A\5458";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    font-size: 16px;
    line-height: 220px;
    margin-right: 50px
}

.cardList .left[data-v-7f50c2e4] {
    float: left;
    padding-top: 60px
}

.cardList .left span[data-v-7f50c2e4] {
    display: block;
    color: #caac76
}

.cardList .left span[data-v-7f50c2e4]:first-of-type {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 6px
}

.cardList .left span[data-v-7f50c2e4]:nth-of-type(2) {
    font-size: 14px;
    line-height: 30px
}

.cardList .left span[data-v-7f50c2e4]:nth-of-type(3) {
    font-size: 20px;
    margin-top: 20px
}

.cardList .left span:nth-of-type(3) i[data-v-7f50c2e4] {
    font-size: 38px;
    font-family: Akrobat
}

.cardList .right[data-v-7f50c2e4] {
    float: right;
    width: 760px;
    padding-top: 40px
}

.rightList[data-v-7f50c2e4] {
    float: left;
    color: #caac76;
    padding: 8px 0 24px;
    width: 250px
}

.rightList.grey[data-v-7f50c2e4] {
    color: #616574
}

.rightList img[data-v-7f50c2e4] {
    width: 58px;
    height: 58px;
    float: left
}

.rightList .rightTxt[data-v-7f50c2e4] {
    display: inline-block;
    width: 192px
}

.rightList .rightTxt span[data-v-7f50c2e4] {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.rightList .rightTxt span i[data-v-7f50c2e4] {
    font-family: Akrobat;
    font-size: 24px;
    font-weight: 700
}

.rightList .rightTxt span[data-v-7f50c2e4]:first-of-type {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700
}

.rightList .rightTxt span[data-v-7f50c2e4]:last-of-type {
    font-size: 14px
}

.rightList[data-v-7f50c2e4]:nth-child(3n) {
    margin-right: 0
}

.mainTitle[data-v-7f50c2e4] {
    color: #caac76;
    margin: 40px 0 20px;
    position: relative
}

.mainTitle span[data-v-7f50c2e4] {
    display: block;
    text-align: center
}

.mainTitle .title[data-v-7f50c2e4] {
    font-size: 24px
}

.mainTitle .subTitle[data-v-7f50c2e4] {
    font-size: 12px
}

.mainTitle[data-v-7f50c2e4]:before {
    content: url(/assets/static/img/left.png?16ef03a6c9267f01d7c49ef851ad4dfe);
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 50%;
    -webkit-transform: translateX(-126px);
    -ms-transform: translateX(-126px);
    transform: translateX(-126px)
}

.mainTitle[data-v-7f50c2e4]:after {
    content: url(/assets/static/img/right.png?cb5c43458530a749434599fa8ef7f024);
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 50%;
    -webkit-transform: translateX(126px);
    -ms-transform: translateX(126px);
    transform: translateX(126px)
}

.mainTitle.login[data-v-7f50c2e4] {
    margin-top: 30px
}

.block[data-v-7f50c2e4] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.block .transition[data-v-7f50c2e4] {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.block .hover3d[data-v-7f50c2e4] {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1)
}

.block > [data-v-7f50c2e4] {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    width: 290px;
    float: left
}

.block > * p[data-v-7f50c2e4]:first-of-type {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.block > * p[data-v-7f50c2e4]:nth-of-type(2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}

.block > .smll[data-v-7f50c2e4] {
    background: #fff;
    -webkit-box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .1);
    box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .1);
    border-radius: 5px;
    height: 300px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.block > .smll[data-v-7f50c2e4]:hover {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1)
}

.block > .mini > [data-v-7f50c2e4] {
    background: #fff;
    -webkit-box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .1);
    box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .1);
    border-radius: 5px;
    height: 145px;
    display: block;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.block > .mini > [data-v-7f50c2e4]:hover {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1)
}

.block > .mini > * > [data-v-7f50c2e4] {
    float: left
}

.block > .mini > * + [data-v-7f50c2e4] {
    margin-top: 10px
}

.block > * + div[data-v-7f50c2e4] {
    margin-left: 13.3px
}

.member1 > div[data-v-7f50c2e4] {
    color: #caac76;
    float: left
}

.member1 > div a[data-v-7f50c2e4] {
    border: 2px solid #caac76;
    color: #caac76;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 700
}

.member1 > div img[data-v-7f50c2e4] {
    width: 80px;
    height: 80px
}

.member1 > div.smll img[data-v-7f50c2e4] {
    margin-top: 15px
}

.member1 > div.smll p[data-v-7f50c2e4] {
    padding: 0 39px 0 40px
}

.member1 > div.smll p[data-v-7f50c2e4]:first-of-type {
    font-size: 20px;
    line-height: 30px;
    margin-top: 22px
}

.member1 > div.smll p[data-v-7f50c2e4]:nth-of-type(2) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    height: 48px
}

.member1 > div.smll a[data-v-7f50c2e4] {
    display: block;
    height: 50px;
    width: 230px;
    font-size: 18px;
    margin: 15px auto 0;
    line-height: 46px
}

.member1 > div.mini > div > .cenMidel[data-v-7f50c2e4] {
    width: 114px;
    margin-left: 7px
}

.member1 > div.mini > div > a[data-v-7f50c2e4] {
    width: 40px;
    height: 104px;
    padding: 10px 10px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0 0 20px
}

.member1 > div.mini > div img[data-v-7f50c2e4] {
    margin-top: 30px;
    margin-left: 10px
}

.member1 > div.mini > div p[data-v-7f50c2e4]:first-of-type {
    font-size: 16px;
    line-height: 30px;
    margin-top: 38px;
    text-align: left
}

.member1 > div.mini > div p[data-v-7f50c2e4]:nth-of-type(2) {
    font-size: 12px;
    line-height: 18px;
    margin-top: 13px;
    height: 36px;
    text-align: left
}

.member1 > div.mini > div.gay[data-v-7f50c2e4] {
    color: #ddd
}

.member1 > div.mini > div.gay a[data-v-7f50c2e4] {
    color: #ddd;
    border-color: #ddd
}

.member1.login > div.smll[data-v-7f50c2e4] {
    background: -webkit-linear-gradient(280deg, #070c21, #1a2f56);
    background: -o-linear-gradient(280deg, #070c21, #1a2f56);
    background: linear-gradient(170deg, #070c21, #1a2f56);
    -webkit-box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .2);
    box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .2)
}

.member1.login > div.smll[data-v-7f50c2e4]:hover {
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2)
}

.member1.login > div.smll span[data-v-7f50c2e4] {
    display: block;
    font-size: 16px;
    line-height: 22px
}

.member1.login > div.smll p[data-v-7f50c2e4]:first-of-type {
    margin-top: 5px
}

.member1.login > div.smll p[data-v-7f50c2e4]:nth-of-type(2) {
    margin-top: 10px
}

.member1.login > div.mini > div[data-v-7f50c2e4] {
    background: -webkit-linear-gradient(280deg, #070c21, #1a2f56);
    background: -o-linear-gradient(280deg, #070c21, #1a2f56);
    background: linear-gradient(170deg, #070c21, #1a2f56);
    -webkit-box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .2);
    box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .2)
}

.member1.login > div.mini > div[data-v-7f50c2e4]:hover {
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2)
}

.member1.login > div.mini > div img[data-v-7f50c2e4] {
    margin-top: 20px;
    margin-left: 10px;
    display: block
}

.member1.login > div.mini > div div span[data-v-7f50c2e4] {
    display: block;
    text-align: center;
    margin-left: 10px
}

.member3 a[data-v-7f50c2e4] {
    color: #333
}

.member3 p[data-v-7f50c2e4] {
    text-align: left
}

.member3 .price[data-v-7f50c2e4] {
    color: red;
    font-size: 14px;
    margin-top: 17px
}

.member3 .price i[data-v-7f50c2e4] {
    font-size: 20px;
    font-family: Akrobat;
    font-weight: 700
}

.member3 p[data-v-7f50c2e4]:first-of-type {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 17px
}

.member3 .smll img[data-v-7f50c2e4] {
    width: 220px;
    height: 180px;
    margin-top: 20px;
    border-radius: 6px
}

.member3 .smll p[data-v-7f50c2e4] {
    width: 220px;
    margin: auto
}

.member3 .smll p[data-v-7f50c2e4]:first-of-type {
    margin-top: 19px
}

.member3 .smll .price[data-v-7f50c2e4] {
    margin-top: 14px
}

.member3 .mini img[data-v-7f50c2e4] {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 20px 0 0 20px
}

.member3 .mini img + div[data-v-7f50c2e4] {
    width: 130px;
    margin-left: 20px
}

.member3 .mini p[data-v-7f50c2e4]:nth-of-type(2) {
    font-size: 14px;
    line-height: 18px;
    color: #666;
    height: 38px;
    margin-top: 7px
}

.member2 > div[data-v-7f50c2e4] {
    width: 140px;
    float: left;
    height: 290px;
    -webkit-box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .1);
    box-shadow: 0 4px 30px 0 rgba(36, 35, 44, .1);
    border-radius: 10px;
    background: #fff;
    text-align: center;
    color: #caac76;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.member2 > div:hover img[data-v-7f50c2e4] {
    margin-top: 50px
}

.member2 > div + div[data-v-7f50c2e4] {
    margin-left: 10px
}

.member2 > div img[data-v-7f50c2e4] {
    width: 80px;
    height: 80px;
    margin-top: 60px;
    -webkit-transition: margin .3s ease-in-out;
    -o-transition: margin .3s ease-in-out;
    transition: margin .3s ease-in-out
}

.member2 > div .name[data-v-7f50c2e4] {
    margin-top: 54px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700
}

.member2 > div a[data-v-7f50c2e4] {
    display: block;
    visibility: hidden;
    width: 100px;
    height: 18px;
    line-height: 18px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transition-property: width, height, line-height;
    -o-transition-property: width, height, line-height;
    transition-property: width, height, line-height;
    color: #caac76
}

.member2 > div .desc[data-v-7f50c2e4] {
    visibility: hidden;
    width: 140px;
    height: 24px;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transition-property: width, height;
    -o-transition-property: width, height;
    transition-property: width, height
}

.member2 .active[data-v-7f50c2e4] {
    width: 600px
}

.member2 .active:hover img[data-v-7f50c2e4], .member2 .active img[data-v-7f50c2e4] {
    margin-top: 20px
}

.member2 .active .name[data-v-7f50c2e4] {
    margin-top: 14px
}

.member2 .active .desc[data-v-7f50c2e4] {
    display: block;
    width: 400px;
    margin: 0 auto;
    height: 48px;
    font-size: 16px;
    visibility: visible
}

.member2 .active a[data-v-7f50c2e4] {
    display: block;
    visibility: visible;
    height: 50px;
    width: 530px;
    border: 2px solid #caac76;
    border-radius: 6px;
    margin: 20px auto 0;
    line-height: 48px;
    font-size: 18px;
    font-weight: 700
}

dialogme[data-v-7f50c2e4] .el-dialog {
    border-radius: 10px;
    overflow: hidden;
    background: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

dialogme[data-v-7f50c2e4] .el-dialog__header {
    background: #0f1a35;
    height: 60px
}

dialogme[data-v-7f50c2e4] .el-dialog__header .el-dialog__title {
    color: #caac76;
    font-size: 16px
}

dialogme[data-v-7f50c2e4] .el-dialog__body {
    background: #fff;
    padding: 30px 25px 30px 30px
}

dialogme[data-v-7f50c2e4] .el-dialog__body > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 28px
}

dialogme[data-v-7f50c2e4] .el-dialog__body > div > span {
    width: 100px;
    text-align-last: justify;
    margin-right: 4px;
    float: left
}

dialogme[data-v-7f50c2e4] .el-dialog__body > div p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    display: inline-block;
    width: 340px
}

dialogme[data-v-7f50c2e4] .el-dialog__body + div {
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 20px 0 10px
}

dialogme[data-v-7f50c2e4] .el-dialog__body + div p {
    color: #999;
    font-size: 12px;
    line-height: 28px
}

dialogme[data-v-7f50c2e4] .el-dialog__body + div span {
    font-size: 16px
}

dialogme[data-v-7f50c2e4] .el-dialog__body + div span i {
    font-size: 24px;
    color: #caac76
}

dialogme[data-v-7f50c2e4] .el-dialog__body + div img {
    margin-top: 3px
}

dialogme[data-v-7f50c2e4] .el-dialog__headerbtn .el-dialog__close {
    color: #caac76
}

dialogme[data-v-7f50c2e4] .dialog2 .el-dialog__body > div > span {
    width: 71px
}

dialogme[data-v-7f50c2e4] .dialog2 .ipt {
    margin-top: 5px
}

dialogme[data-v-7f50c2e4] .dialog2 .ipt > span {
    line-height: 30px
}

dialogme[data-v-7f50c2e4] .dialog2 .ipt .el-input-number {
    width: 120px;
    height: 30px;
    line-height: 30px
}

dialogme[data-v-7f50c2e4] .dialog2 .ipt .el-input-number > * {
    height: 30px
}

dialogme[data-v-7f50c2e4] .dialog2 .ipt .el-input-number > * input {
    height: 32px;
    line-height: 30px
}

dialogme[data-v-7f50c2e4] .dialog2 .ipt .el-input-number span {
    background: #fff;
    border: 0;
    color: #000
}

dialogme[data-v-7f50c2e4] .dialog2 .ipt .el-input-number span.is-disabled {
    color: #999
}

dialogme[data-v-7f50c2e4] .dialog2 .el-dialog__footer {
    padding: 0;
    cursor: pointer
}

dialogme[data-v-7f50c2e4] .dialog2 .el-dialog__footer div {
    color: #caac76;
    line-height: 55px
}